﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="Student.Site1" %>

<!--
//Ctrl +KC - Comment
//Ctrl_KU - Uncomment
-->

<!DOCTYPE html>
<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>

<script src="jquery.min.js" type="text/javascript"></script>
<script src="jquery-ui.min.js" type="text/javascript"></script>
<link href="jquery-ui.css" rel="Stylesheet" type="text/css" />


<link rel="stylesheet" href="/css/font-awesome.css" />
<link rel="stylesheet" href="/css/metisMenu.css" />
<link rel="stylesheet" href="/css/animate.css" />
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/sweet-alert.css" />
<link rel="stylesheet" href="/css/toastr.min.css" />
<link rel="stylesheet" href="/css/pe-icon-7-stroke.css" />
<link rel="stylesheet" href="/css/helper.css" />
<link rel="stylesheet" href="/css/jquery.fileupload.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/style.css">
<!--<link rel="stylesheet" href="/css/bootstrap.min.css" />   Если ставишь сюда то прогресс становится нормальным но падают другие стили-->
<link rel="stylesheet" href="/css/static_custom.css">
<link rel="stylesheet" href="/css/select2.css" />
<link rel="stylesheet" href="/css/select2-bootstrap.css" />
<link rel="stylesheet" href="/css/jquery.bootstrap-touchspin.min.css" />
<link rel="stylesheet" href="/css/bootstrap-datepicker3.min.css" />
<link rel="stylesheet" href="/css/awesome-bootstrap-checkbox.css" />

    <script type="text/javascript">

        $(function () {
            $("[id$=txtDate_of_birth1]").datepicker({
                showOn: 'button',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy',
                buttonImage: 'calendar.png'
            });

            $("[id$=txtDate_of_birth2]").datepicker({
                showOn: 'button',
                buttonImageOnly: true,
                dateFormat: 'dd/mm/yy',
                buttonImage: 'calendar.png'
            });
        });
    </script>

</head>

<style>
    .skin-option {
        position: fixed;
        text-align: center;
        right: -1px;
        padding: 10px;
        top: 80px;
        width: 150px;
        height: 133px;
        text-transform: uppercase;
        background-color: #ffffff;
        box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.05), 10px 12px 7px 3px rgba(0, 0, 0, .1);
        border-radius: 4px 0 0 4px;
        z-index: 100;
    }
</style>

  <div class="splash">
      <div class="color-line"></div>
      <div class="splash-title">
         <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
         </div>
      </div>
   </div>
   <div class="color-line"></div>

<body>

    <p id="demo"></p>


    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
              
            </asp:ContentPlaceHolder>
        </div>
    </form>

       <div class="row">
         <div class="col-md-12 text-center">
            <strong>Aspire2International</strong> <br/>Christchurch 2017 <br/>
         </div>
      </div>

<p id="demo1" class="col-md-12 text-center text-danger"></p>

<script>
var d = new Date();
document.getElementById("demo1").innerHTML = d.toDateString();
</script>


</body>

</html>
